body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #1F2937;
    margin: 0; 
    display: flex;
    flex-direction: column;
   

    min-height: 100vh;
    
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(31, 41, 55);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color:rgb(31, 41, 55);
    outline: 1px solid rgb(31, 41, 55);
  }



  .portfolio::-webkit-scrollbar {
    width: 1em;
  }
   
  .portfolio::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(31, 41, 55);
  }
   
  .portfolio::-webkit-scrollbar-thumb {
    background-color:#1F2937;
    outline: 1px solid rgb(31, 41, 55);
  }

  .portfolio::-webkit-scrollbar-corner {
    background-color: #E5E7EB;
  }

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 25px;
}







ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.menu ul a {
    padding: 5px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.menu ul a:hover {
    background-color: #ff6900;
}



h1 {
    color: #ffffff;
    font-family: 'Cinzel', serif;
}

h2 {
    color:#1F2937;
    font-family: 'Cinzel', serif;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    color: goldenrod;
}


.header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    margin: 0;
    padding: 10px 200px 10px;
    
}

.header {
    margin: 0;    
    flex-direction: row;
    justify-content: space-between;
    

}

.logo {
    font-size: 34px;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    font-family: 'Cinzel', serif;

    
}

.content {
    justify-content: center;
    margin-top: 0px;
    margin-left: 500px;
    margin-right: 500px;
  
    flex-direction: column;
    max-width: 800px;
    max-height: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    overflow: scroll;
    


}

.content::-webkit-scrollbar {
  width: 1em;
}
 
/* .content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(31, 41, 55);
} */
 
.content::-webkit-scrollbar-thumb {
  background-color:#1F2937;
  outline: 1px solid rgb(31, 41, 55);
}

.content::-webkit-scrollbar-corner {
  background-color: #E5E7EB;
}

.bio-wrap {
  margin: 0;
  padding: 0;
  background-color: rgb(233, 232, 232);
}

.bio {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  
}

.bio-content {
  max-height: 400px;
}

.main-bio {
  
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  max-height: 400px;

}


.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
  }
  
  .profile-picture:hover {
    box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
  }

.portfolio {
    
    justify-content: center;
    
    margin-top: 80px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 50px;
    flex-direction: column;
    max-width: 800px;
    max-height: 600px;
    overflow: scroll;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    
   
}

.announcements {
  
  justify-content: center;
    
  margin-top: 0px;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 50px;
  flex-direction: column;
  max-width: 800px;
  max-height: 600px;
  overflow: scroll;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  padding: 5px;

}

.content-wrap {

  max-height: 800px ;
  overflow: scroll;


}

.content-wrap::-webkit-scrollbar {
  width: 1em;
}
 
.content-wrap::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(31, 41, 55);
}
 
.content-wrap::-webkit-scrollbar-thumb {
  background-color:rgb(31, 41, 55);
  outline: 1px solid rgb(31, 41, 55);
}

.book {
    display: flex;
    max-width: 800px;
    padding: 5px;
    
  }

  .text {
    padding: 5px;
    text-align: justify;
    max-width: 500px;
    margin-left: 50px;

  }

  button {
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 50px;
    background-color:lightsteelblue;
    height: 40px;
    max-width: fit-content;
    
  }

  button a {
    color: #1F2937;
    font-weight: 800;
    padding: 5px;
  }

  button a:hover {
    color:green;
    font-weight: 800;
  }

  .footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;

    flex-direction: column;
    position: absolute; 
    bottom: 0; 
    z-index: 10;
    width: 100%;
    overflow-x: hidden;
    padding: 0px;
    
    
}
    


.footer1 {
    
    display: flex;
    margin: 0;    
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.social-media {
    display: inline-flex;
    padding: 10px;
}

ion-icon {
    padding-right: 5px;
    padding-left: 5px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.footer2 {
    display: flex;
    flex-direction: column;
}

.copyright {
  font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    margin-bottom: 10px;
}